-- MySQL dump 10.13  Distrib 8.0.43, for Linux (x86_64)
--
-- Host: localhost    Database: worldcup
-- ------------------------------------------------------
-- Server version	8.0.43

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `countries`
--

DROP TABLE IF EXISTS `countries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `countries` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) DEFAULT NULL,
  `ranking` int DEFAULT NULL,
  `group_name` varchar(1) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `countries`
--

LOCK TABLES `countries` WRITE;
/*!40000 ALTER TABLE `countries` DISABLE KEYS */;
INSERT INTO `countries` VALUES (1,'繝悶Λ繧ｸ繝ｫ',3,'A'),(2,'繝｡繧ｭ繧ｷ繧ｳ',20,'A'),(3,'繧ｫ繝｡繝ｫ繝ｼ繝ｳ',56,'A'),(4,'繧ｯ繝ｭ繧｢繝√い',18,'A'),(5,'繧ｹ繝壹う繝ｳ',1,'B'),(6,'繧ｪ繝ｩ繝ｳ繝',15,'B'),(7,'繝√Μ',14,'B'),(8,'繧ｪ繝ｼ繧ｹ繝医Λ繝ｪ繧｢',62,'B'),(9,'繧ｳ繝ｭ繝ｳ繝薙い',8,'C'),(10,'繧ｮ繝ｪ繧ｷ繝｣',12,'C'),(11,'繧ｳ繝ｼ繝医ず繝懊Ρ繝ｼ繝ｫ',23,'C'),(12,'譌･譛ｬ',46,'C'),(13,'繧ｦ繝ｫ繧ｰ繧｢繧､',7,'D'),(14,'繧ｳ繧ｹ繧ｿ繝ｪ繧ｫ',28,'D'),(15,'繧､繝ｳ繧ｰ繝ｩ繝ｳ繝・,10,'D'),(16,'繧､繧ｿ繝ｪ繧｢',9,'D'),(17,'繧ｹ繧､繧ｹ',6,'E'),(18,'繧ｨ繧ｯ繧｢繝峨Ν',26,'E'),(19,'繝輔Λ繝ｳ繧ｹ',17,'E'),(20,'繝帙Φ繧ｸ繝･繝ｩ繧ｹ',33,'E'),(21,'繧｢繝ｫ繧ｼ繝ｳ繝√Φ',5,'F'),(22,'繝懊せ繝九い繝ｻ繝倥Ν繝・ぉ繧ｴ繝薙リ',21,'F'),(23,'繧､繝ｩ繝ｳ',43,'F'),(24,'繝翫う繧ｸ繧ｧ繝ｪ繧｢',44,'F'),(25,'繝峨う繝・,2,'G'),(26,'繝昴Ν繝医ぎ繝ｫ',4,'G'),(27,'繧ｬ繝ｼ繝・,37,'G'),(28,'邀ｳ蝗ｽ',13,'G'),(29,'繝吶Ν繧ｮ繝ｼ',11,'H'),(30,'繧｢繝ｫ繧ｸ繧ｧ繝ｪ繧｢',22,'H'),(31,'繝ｭ繧ｷ繧｢',19,'H'),(32,'髻灘嵜',57,'H');
/*!40000 ALTER TABLE `countries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `goals`
--

DROP TABLE IF EXISTS `goals`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `goals` (
  `id` int NOT NULL AUTO_INCREMENT,
  `pairing_id` int DEFAULT NULL,
  `player_id` int DEFAULT NULL,
  `goal_time` varchar(10) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `goals`
--

LOCK TABLES `goals` WRITE;
/*!40000 ALTER TABLE `goals` DISABLE KEYS */;
/*!40000 ALTER TABLE `goals` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pairings`
--

DROP TABLE IF EXISTS `pairings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pairings` (
  `id` int NOT NULL AUTO_INCREMENT,
  `kickoff` datetime DEFAULT NULL,
  `my_country_id` int DEFAULT NULL,
  `enemy_country_id` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pairings`
--

LOCK TABLES `pairings` WRITE;
/*!40000 ALTER TABLE `pairings` DISABLE KEYS */;
/*!40000 ALTER TABLE `pairings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `players`
--

DROP TABLE IF EXISTS `players`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `players` (
  `id` int NOT NULL AUTO_INCREMENT,
  `country_id` int DEFAULT NULL,
  `uniform_num` int DEFAULT NULL,
  `position` varchar(2) DEFAULT NULL,
  `name` varchar(50) DEFAULT NULL,
  `club` varchar(50) DEFAULT NULL,
  `birth` date DEFAULT NULL,
  `height` int DEFAULT NULL,
  `weight` int DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1024 DEFAULT CHARSET=utf8mb3;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `players`
--

LOCK TABLES `players` WRITE;
/*!40000 ALTER TABLE `players` DISABLE KEYS */;
/*!40000 ALTER TABLE `players` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-06 17:27:35
